<!DOCTYPE HTML>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headFragment">
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container">
    <div>
    <form action="/detail"  th:object="${board}">
        <h1>게시판 상세보기</h1>

        <div class="form-group">
            <label th:for="id">번호</label>
            <input type="text" class="form-control" th:field="${board.no}" th:readonly="readonly" >
        </div>

        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" class="form-control" th:field="${board.title}" th:readonly="readonly">
        </div>

        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" class="form-control" th:field="${board.content}" th:readonly="readonly" >
        </div>

        <div class="form-group">
            <label th:for="file">파일</label>
            <input type="text" class="form-control" th:field="${board.file}" th:readonly="readonly" >
        </div>

        <div class="form-group">
            <label th:for="writer">작성자</label>
            <input type="text" class="form-control" th:field="${board.writer}" th:readonly="readonly" >
        </div>

        <div class="form-group">
            <label th:for="name">날짜</label>
            <input type="text" class="form-control" th:field="${board.date}" th:readonly="readonly" >
        </div>



        <button type="submit" class="btn btn-primary">수정</button>
    </form>

        <div class="card my-4">
            <h5 class="card-header">댓글 :</h5>
            <div class="card-body">
                <form name="comment-form" action="/reply/insert" method="post">
                    <div class="form-group">
                        <input type="hidden" name="no" th:value="${board.no}" />
                        <textarea name="reply" id="reply" class="form-control" rows="3"></textarea>
                    </div>

                    <button class="btn btn-primary" type="submit">등록</button>

                </form>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">댓글 리스트</h5>
                <div class="commentList"></div>
        </div>
    <div>

    </div>
</div>
</div>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">

$(document).ready(function() {
    commentList();
});

function commentList(){
    var no = $('input[name=no]').val();
    var str = ""
    $.ajax({
        url : '/reply/list',
        type : 'GET',
        data : {no},
        success : function(result){
            console.log(result);
            for (var i = 0; i < result.length; i++) {
                   str += "<div class=\"commentInfo\">" +'댓글 번호 :' +result[i].rno+"</div></hr>"
                   str += "<div class=\"commentInfo\">"  +'댓글 작성자 :' +result[i].writer+"</div></hr>"
                   str += "<div class=\"commentInfo\">"  +'작성 날짜 :' +result[i].replyDate+"</div></hr>"
                   str += "<div class=\"commentList\">" +'내용 :' +result[i].reply+"</div></hr>"

            }

        },
        error: function(result) {
           alert(result);
        },
        complete: function() {
          $(".commentList").html(str)
        }
    })
}


</script>


</body>
</html>