<!DOCTYPE HTML>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headFragment">
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<style>
    .container{
        width:50%;
    }
    .container *{
        display:inline;
        text-aling:center;
    }
    .board{
        width:40%;
    }
    .board >a>*{
        width:20%;
    }
</style>
<div class="container">
    <header>
        <h1>글 목록</h1>
    </header>
    <br>
    <div>
        <div >
            <div class="board">
                <div>
                    <div>번호</div>
                    <div>글쓴이</div>
                    <div>제목</div>
                    <div>날짜</div>
                </div>
            </div>
            <br>
            <div>
                <div th:each="board : ${list}" class="board">
                    <a th:href="@{/board/detail(no=${board.no})}">
                        <div th:text="${board.no}"></div>
                        <div th:text="${board.writer}"></div>
                        <div th:text="${board.title}"></div>
                        <div th:text="${board.date}"></div>
                    </a>
                    <br>
                </div>
            </div>
            <th:block th:each="num: ${#numbers.sequence(1,boardCount)}">
                <a th:text="${num}" th:href="@{/board/list(no=${num})}"> </a>
            </th:block>
        </div>
    </div>
</div> <!-- /container -->
</body>
<script>
    $("a").on("click",function(){
        console.log(테스트)
    })
</script>
</html>