<!DOCTYPE HTML>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headFragment">
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container">
    <header>
        <h1>글 목록</h1>
    </header>
    <div>
        <table class="table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>글쓴이</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${list}">
                <a th:href="@{/board/detail(no=${board.no})}">
                <td th:text="${board.no}"></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.date}"></td>
                </a>
            </tr>
            <th:block th:each="num: ${#numbers.sequence(1,boardCount)}">
                <a th:text="${num}" th:href="@{/board/list(no=${num})}"> </a>
            </th:block>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>