<!DOCTYPE HTML>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headFragment">
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<style>
    .container{
        width:50%;
    }
    .container *{
        display:inline;
        text-aling:center;
    }
    .board{
        width:40%;
    }
    .board >a>*{
        width:20%;
    }
</style>
<div class="container">

        <h1 th:text ="${name}">글 목록</h1>
        <div th:each="board : ${cs}" class="board"><h2 th:text ="${board}"></h2></div>



</div>

</body>
</html>