<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head th:replace="fragments/header :: headFragment">
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container">
    <form action="/add" method="post" th:object="${member}">
    <div>
        <h1 class="h3 mb-3 fw-normal">내 정보 수정</h1>

        <div class="mb-3">
            <label th:for="id">아이디</label>
            <input type="text" class="form-control" th:field="*{id}" th:readonly="readonly" >
        </div>
        <div class="mb-3">
            <label th:for="pw">비밀번호</label>
            <input type="text" class="form-control" th:field="*{pw}" th:readonly="readonly" >
        </div>
        <div class="mb-3">
            <label th:for="name">이름</label>
            <input type="text" class="form-control" th:field="*{name}" th:readonly="readonly" >
        </div>
    </div>
    </form>
</div>
</body>

</html>